body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.bg-navigation {
    background-color:#181818!important
}

.btn-discord {
  color:#fff;
  background-color:#7289da;
  border-color:#7289da;
}

.btn-paypal {
  color:#fff;
  background-color:#169BD7;
  border-color:#169BD7;
}

.btn-paypal:hover, .btn-paypal:focus{
  color:#fff;
  background-color:#1287bd;
  border-color:#1287bd
}

.btn-discord:hover, .btn-discord:focus{
  color:#fff;
  background-color:#687cc5;
  border-color:#687cc5
}

.loader {
  position: relative;
  height: 100vh;
}

.loader:after {
  content: "";
  position: absolute;
  top:    0;
  left:   0;
  bottom: 0;
  right:  0;
  z-index: 9999;
  transition: all .3s ease-in-out;
  background: rgba(10, 1, 112, .8);
}

.loader:before {
  content: "";
  z-index: 99999;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(0, 0);
  width:  10px;
  height: 10px;
  border-radius: 100%;
  background-color: #0366b2;
  box-shadow:
    31px 45px 0 5px #3385ff,
    13px 20px 0 2px #ff9967,
    -31px -45px 0 5px #3385ff,
    -13px -20px 0 2px #ff9967;
  animation: loader 3s infinite, round 4s infinite;
}

@keyframes loader {
  0%   { transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1, 1); }
  70%  { transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(0.7, 0.7); }
  100% { transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1, 1); }
}

@keyframes round {
  0% {
    box-shadow:
      31px 45px 0 5px #3385ff,
      13px 20px 0 2px #ff9967,
      -31px -45px 0 5px #3385ff,
      -13px -20px 0 2px #ff9967;
  }
  25% {
    box-shadow:
      -13px -20px 0 2px #ff9967,
      31px 45px 0 5px #3385ff,
      13px 20px 0 2px #ff9967,
      -31px -45px 0 5px #3385ff;
  }
  50% {
    box-shadow:
      -31px -45px 0 5px #3385ff,
      -13px -20px 0 2px #ff9967,
      31px 45px 0 5px #3385ff,
      13px 20px 0 2px #ff9967;
  }
  75% {
    box-shadow:
      -13px -20px 0 2px #ff9967,
      31px 45px 0 5px #3385ff,
      13px 20px 0 2px #ff9967,
      -31px -45px 0 5px #3385ff;
  }
  100% {
    box-shadow:
      31px 45px 0 5px #3385ff,
      13px 20px 0 2px #ff9967,
      -31px -45px 0 5px #3385ff,
      -13px -20px 0 2px #ff9967;
  }
}



.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;
  background-position: center;
}

.blue-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 155, 233, 0.5);
}

.pink-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 153, 0.5);
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

#core {
  position: relative;
  min-height: 275px;
  background: url('../img/image4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#patreon {
  position: relative;
  min-height: 300px;
  background: url('../img/image5.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#about {
  position: relative;
  min-height: 200px;
  background: url('../img/image6.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#discord {
  position: relative;
  min-height: 300px;
  background: url('../img/image7.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.main-footer {
  background: #181818;
}

.footer-icon {
  font-size: 24px;
}

@media (min-width: 1px) and (max-width: 1024px) {

  .main-footer {
    text-align: center!important;
  }

}

@media (min-width: 1025px) {

  .name {
    text-align: left;
  }

  .icons {
    text-align: right;
  }

}

@media (min-width: 100px) and (max-width: 473px) {

  #patreon {
    min-height: 325px!important;
  }


}
